name: Multiple-job order-execution

on:
  workflow_dispatch:

jobs:
  job1:
    name: First Job
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v5

    - name: Display message from Job 1
      run: echo "GITHUB ACTION PRACTICE."    

  job2:
    name: Second Job
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v5

    - name: Display message from Job 2
      run: echo "hi bulli."